Flask==0.9
Flask-MongoKit==0.6
Flask-WTF==0.8
gunicorn==0.13.4
mongokit==0.8
Celery==3.0.5
celery-with-mongodb==3.0
celery-with-redis==3.0
pytz==2012d
numpy==1.6.2
git+https://github.com/asascience-open/paegan.git@master#egg=paegan
shapely==1.2.15
boto==2.5.2
geojson==1.0.1