pymongo==2.2.1
Flask==0.9
Flask-MongoKit==0.6
Flask-WTF==0.8
gunicorn==0.16.1
mongokit==0.8
Celery==3.0.11
celery-with-mongodb==3.0
celery-with-redis==3.0
pytz==2012d
numpy==1.6.2
git+http://github.com/matplotlib/basemap.git@v1.0.5rel#egg=basemap
git+https://github.com/asascience-open/paegan.git@master#egg=paegan
git+https://github.com/asascience-open/paegan-viz.git@master#egg=paegan-viz
shapely==1.2.15
boto==2.5.2
geojson==1.0.1
flower==0.3.1
