body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
ul              { list-style: none; margin: 0; padding: 0; }
li              { margin: 0.8em 1.2em 0em -1em; }
td              { padding: 0em 0.5em; text-align:left; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.navigation     { margin: 0 1em 1em 2em;}

.detail         { padding: 0em 0em 0em 2em; }
.edit           { padding: 1em 0em 0em 0.5em; }
.table_cell     { padding: 0em 1em; }
.detail_table   {  }