<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Larva Service</title>
        {% block javascript %}
            <script type="text/javascript" src="{{ url_for('.static', filename='jquery.min.js') }}" /></script>
            <script type="text/javascript" src="{{ url_for('.static', filename='bootstrap.js') }}" /></script>
        {% endblock %}
        {% block css %}
            <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='style.css') }}"></link>
        {% endblock %}
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                        Larva Model Service
                    </a>
                    <ul class="nav">
                      <li><a href="{{ url_for('index') }}">Home</a></li>
                      <li><a href="{{ url_for('queue') }}">Queue</a></li>
                      <li><a href="{{ url_for('runs') }}">Runs</a></li>
                      <li><a href="{{ url_for('datasets') }}">Datasets</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% block subnav %}{% endblock %}
        <br />
        <div class="container">
            {%- with messages = get_flashed_messages(with_categories=true) %}
                {%- if messages %}
                    {%- for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {%- endfor %}
                {%- endif %}
            {%- endwith %}

            {% block page %}{% endblock %}
        </div>
    </body>
</html>