{% from "macros.html" import status_bootstrap_class %}
{% extends "layout.html" %}

{% block subnav %}
    <div class="subnav subnav-fixed">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="{{ url_for('clear_runs') }}">Clear runs</a></li>
                <li>
                    <form method="POST" action="{{ url_for('run_larva_model') }}" class="navbar-form pull-left">
                        <input type="textarea" class="span4" name="config" id="config" placeholder="Paste JSON config here to create a manual run"></input>
                        <input type="submit" value="Run Larva Model" class="btn"></input>

                    </form>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page %}

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>status</th>
                <th>created</th>
                <th>result</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {%- for run in runs %}
            <tr>
                <td><span class="label label-{{ status_bootstrap_class(run.status()) }}">{{run.status()}}</span></td>
                <td>{{ run.created }}</td>
                <td>{{ run.result }}</td>
                <td>
                    <a href="{{ url_for('show_run', run_id=run._id) }}">View</a>
                    <a href="{{ url_for('delete_run', run_id=run._id) }}">Delete</a>
                </td>
            </tr>
        {%- endfor %}
         </tbody>
    </table>

    <div class="row">
        <div class='span6'>
            <h3>Example JSON run (interp time):</h3>
            <pre>
{
    "behavior": "https://larvamap.s3.amazonaws.com/resources/501c40e740a83e0006000000.json", 
    "duration": 1, 
    "email": "user@example.com", 
    "geometry": "POINT (-147 60.75)", 
    "horiz_chunk": 2, 
    "horiz_dispersion": 0.005, 
    "hydro_path": "http://thredds.axiomalaska.com/thredds/dodsC/PWS_L2_FCST.nc", 
    "particles": 10, 
    "release_depth": 10.5, 
    "start": 1345161600000, 
    "time_chunk": 2, 
    "timestep": 3600, 
    "vert_dispersion": 0.005
}
            </pre>
        </div>

        <div class='span6'>
            <h3>Example JSON run (nearest time):</h3>
            <pre>
{
    "behavior": "https://larvamap.s3.amazonaws.com/resources/501c40e740a83e0006000000.json", 
    "duration": 1, 
    "email": "user@example.com", 
    "geometry": "POINT (-147 60.75)", 
    "horiz_chunk": 2, 
    "horiz_dispersion": 0.005, 
    "hydro_path": "http://thredds.axiomalaska.com/thredds/dodsC/PWS_L2_FCST.nc", 
    "particles": 10, 
    "release_depth": 10.5, 
    "start": 1345161600000, 
    "time_chunk": 2, 
    "timestep": 3600, 
    "vert_dispersion": 0.005,
    "time_method": "nearest"
}
            </pre>
        </div>
    </div>
{% endblock %}