{% from "macros.html" import status_bootstrap_class %}
{% extends "layout.html" %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // init map
            var myOptions = {
                center    : new google.maps.LatLng(0, 0),
                zoom      : 10,
                mapTypeId : google.maps.MapTypeId.ROADMAP,
                maxZoom   : 11
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var latlngbounds = new google.maps.LatLngBounds( );

            {%- if line|length > 1 %}
                var pl = new google.maps.Polyline({ map: map, path: [], strokeColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2 })
                {%- for lpt in line %}
                    var lptpos = new google.maps.LatLng({{lpt[1]}}, {{lpt[0]}});
                    pl.getPath().push(lptpos);
                    latlngbounds.extend( lptpos );
                {%- endfor -%}
            {%- endif %}

            {%- if markers|length > 1 %}
                var poly = new google.maps.Polygon({ map: map, path: [], strokeColor: "#FF0000", fillColor: "#FF0000", strokeOpacity: 1.0, strokeWeight: 2, fillOpacity: 0.35 });
                {%- for position in markers %}
                    poly.getPath().push(new google.maps.LatLng({{position[0]}}, {{position[1]}}));
                {% endfor %}
                for ( var i = 0; i < poly.getPath().length; i++ ) {
                    latlngbounds.extend( latlng[ i ] );
                }
            {%- elif markers|length == 1 %}
                var pos = new google.maps.LatLng({{markers[0][0]}}, {{markers[0][1]}});
                var marker = new google.maps.Marker({
                    position: pos,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 2
                    },
                    map: map
                });
                latlngbounds.extend( pos );
            {%- endif %}
            map.fitBounds( latlngbounds );
        })
    </script>
{% endblock %}

{% block page %}

    <h1>{{ run._id }}</h1>
    <span class="label label-{{ status_bootstrap_class(run.status()) }}">{{run.status()}}</span>
    
    <hr />
        <a href="{{ url_for('delete_run', run_id=run._id) }}">Delete</a>
    <hr />

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>created</th>
                <th>progress</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ run.created }}</td>
                <td>{{ run.progress() }}</td>
                <td>{{ run.message() }}</td>
            </tr>
         </tbody>
    </table>

    <div class="row">
        <dl class="dl-horizontal span8">
            {% for key, value in run|dictsort %}
                {% if key != 'cached_behavior' and key != 'output' and key != 'trackline' %}
                    <dt>{{ key }} </dt>
                    <dd>{{ value }}</dd>
                {% endif %}
            {% endfor %}
        </dl>

        <div id="map_canvas" class="span4" style="height: 300px;"></div>
    </div>

    <h2>output</h2>
    <dl class="dl-horizontal">
        {% for output in run.output_files()|sort %}
            {% for key, value in output|dictsort %}
                <dt>{{ key }} </dt>
                <dd><a href="{{ value }}">{{ value }}</a></dd>
            {% endfor %}
        {% endfor %}
    </dl>

    <h2>run_config</h2>
    <pre>
{{ run_config|safe }}
    </pre>

    <h2>result</h2>
    <pre>
{{ run.progress() }} - {{ run.message() }}
    </pre>

    <h2>cached_behavior</h2>
    <pre>
{{ cached_behavior|safe }}
    </pre>

{% endblock %}