{% extends "layout.html" %}

{% block page %}

    <h2>Active</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>queue</th>
                <th>name</th>
                <th>id</th>
                <th>args</th>
                <th>kwargs</th>
            </tr>
        </thead>
        <tbody>
        {%- for queue,listing in active.items() %}
            {%- for task in listing %}
            <tr>
                <td>{{ queue }}</td>
                <td>{{ task['name'] }}</td>
                <td>{{ task['id'] }}</td>
                <td>{{ task['args'] }}</td>
                <td>{{ task['kwargs'] }}</td>
            </tr>
            {%- endfor %}
        {%- endfor %}
         </tbody>
    </table>

    <h2>Waiting for Worker</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>queue</th>
                <th>name</th>
                <th>id</th>
                <th>args</th>
                <th>kwargs</th>
            </tr>
        </thead>
        <tbody>
        {%- for queue,listing in waiting.items() %}
            {%- for task in listing %}
            <tr>
                <td>{{ queue }}</td>
                <td>{{ task['name'] }}</td>
                <td>{{ task['id'] }}</td>
                <td>{{ task['args'] }}</td>
                <td>{{ task['kwargs'] }}</td>
            </tr>
            {%- endfor %}
        {%- endfor %}
         </tbody>
    </table>

    <h2>Scheduled</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>queue</th>
                <th>name</th>
                <th>id</th>
                <th>eta</th>
                <th>priority</th>
                <th>args</th>
                <th>kwargs</th>
            </tr>
        </thead>
        <tbody>
        {%- for queue,listing in scheduled.items() %}
            {%- for task in listing %}
            <tr>
                <td>{{ queue }}</td>
                <td>{{ task['name'] }}</td>
                <td>{{ task['id'] }}</td>
                <td>{{ task['eta'] }}</td>
                <td>{{ task['priority'] }}</td>
                <td>{{ task['request']['args'] }}</td>
                <td>{{ task['request']['kwargs'] }}</td>
            </tr>                
            {%- endfor %}
        {%- endfor %}
         </tbody>
    </table>

{% endblock %}